* {
  box-sizing: border-box;
}

body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: cornsilk;
  color: saddlebrown;
}

h1 {
  font-size: 5rem;
  color: rosybrown;
  line-height: .8;
  margin: 3rem 0 1rem;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

main {
  width: 1300px;
  height: 700px;
  margin: 0 auto 0 auto;
  display: grid;
  grid-template-columns: 22% 26% 26% 26%;
  grid-template-rows: 250px 150px 300px;
  border:5px solid black;
}

/* -- product images -- */

section {
  height: 250px;
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

section img {
  width: 325px;
  max-height: 250px;
  border: 5px solid transparent;
}

section img:hover {
  border: 5px solid rgb(169, 108, 28);
  cursor: pointer;
}

/* -- END-- */

/* RESULT BUTTON */
section+div {
  box-sizing: border-box;
  background-color: rgba(128, 128, 128, 0.734);
  border: black solid 1px;
  color: lightgrey;
  padding: .5rem 1rem;
  width: 250px;
  height: 680px;
  font-size: .8rem;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 4;
  pointer-events: none;
  margin:auto;
}

div ul {
  margin: 1rem;
}

div ul li {
  list-style: disc;
  margin: 10px;
}
/* END  */



/* Empty and text divs */
main div:nth-of-type(2) {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
  border: 1px black solid;
}

main div:nth-of-type(3) {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 4;
  border: 1px black solid;
  font-size:20px;
}
/* END */



/* javascript  css */
section+div.clicks-allowed {
  pointer-events: auto;
  cursor: pointer;
  background-color: rosybrown;
  color: white;
}

section+div.clicks-allowed:hover {
  background-color: rgb(211, 187, 175)
}
/* END */



/* All things footer */
footer {
  width: 80%;
  margin: auto;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: darkseagreen;
}

footer ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer ul li {
  padding: 0 25px 0 25px;
  list-style: none;
}
/* END */



/* All things header */
header {
  width: 80%;
  margin: auto;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: darkseagreen;
}